@page {
  size: auto;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --main-width: 75%;  /* Adjusted for responsiveness */
  --sidebar-width: 25%;  /* Adjusted for responsiveness */
  --decorator-horizontal-margin: 0.2em;
  --sidebar-horizontal-padding: 1em;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  color: #444;
  hyphens: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  color: #000;
}

li {
  list-style-type: none;
}

#main {
  width: var(--main-width);
  padding: 1em;
  font-size: 1rem;
}

#sidebar {
  width: var(--sidebar-width);
  padding: 1em;
  background-color: #f2f2f2;
  font-size: 0.9rem;
  display: none;  /* Hide sidebar by default */
}

@media (min-width: 768px) {
  body {
    flex-direction: row; /* Switch to row layout for larger screens */
  }

  #main {
    width: 70%;
  }

  #sidebar {
    display: block; /* Show sidebar on larger screens */
  }
}

#title {
  text-transform: uppercase;
  margin-bottom: 1em;
}

#title h1 {
  font-weight: 300;
  font-size: 2em;
  line-height: 1.5;
}

.subtitle {
  font-size: 1.2em;
  color: #4699B9;
}

.main-block {
  margin-top: 1em;
}

#main h2 {
  font-weight: 400;
  font-size: 1.25em;
  color: #555;
  position: relative;
  display: inline-block;
}

#main h2 > i {
  position: absolute;
  left: -1em;
  color: #444;
}

#main h2::after {
  content: '';
  display: block;
  border-left: 2px solid #ccc;
  position: absolute;
  top: 0;
  left: -1.5em;
  height: 100%;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.blocks > div {
  padding-top: 1em;
}

.date {
  flex: 0 0 20%;
  font-size: 0.9em;
  text-align: right;
}

.decorator {
  flex: 0 0 0;
  width: 2px;
  border-left: 1px solid #ccc;
}

.details {
  flex: 1;
  padding-left: 1em;
}

.details header {
  color: #000;
}

.details h3 {
  font-size: 1.2em;
}

.details ul {
  padding-left: 0.7em;
  margin: 0.5em 0;
}

.details .location::before {
  content: "\f041"; /* Font Awesome map marker icon */
  font-family: "FontAwesome";
  margin-right: 5px;
}

#sidebar h1 {
  font-size: 1.5em;
  font-weight: 400;
}

#contact ul, #skills ul {
  padding-left: 0;
}

#contact li > i {
  width: 18px;
  color: #4699B9;
}

#skills ul li .fas {
  color: #4699B9;
}

#disclaimer {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 0.8em;
  font-style: italic;
  color: #777;
}

.website-counter {
  font-size: 1.5em;
  color: #555;
}

/* Additional mobile styling */
@media (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }

  #main {
    width: 100%;
    padding: 0.5em;
  }

  #sidebar {
    display: none; /* Hide sidebar on small screens */
  }

  .blocks {
    flex-direction: column;
  }

  .date, .details {
    width: 100%;
    text-align: left;
  }
}
